<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 text-pretty [&>p>strong]:text-[#00abe3] :font-semibold order-2 max-md:order-1"
  >
    <p>
      Hola, mi nombre es Miguel Raúl, mayormente la gente me llama Miguel pero
      solo algunas personas me llaman Raúl. Debo admitir que la primera vez que
      toque una computadora pensé: ¡va a explotar!.
    </p>

    <p>
      Comencé como la mayoría, con un poco de miedo ya que era un mundo nuevo
      para mi y también porque tener una computadora era casi un lujo.
    </p>

    <p>
      La primera vez que programé fue estando en la universidad, fue algo
      sorprendente porque aprendí el como se hacen las cosas en el mundo IT.
    </p>
    <p>
      Tomé un curso de <strong>ALURA-LATAM</strong> como <strong
        >Desarrollador Fronted</strong
      >
      donde reforcé mis conocomientos previos; aprendí a organizar mis tiempos en
      cuestión de entregas, a ayudar a compañeros de otras partes del mundo a traves
      de diversas plataformas o canales de comunicación. Actulmente sigo practicando,
      sigo aprendiendo y mejorando en el desarrollo web.
    </p>

    <p>
      Aunque la mayor parte de mi empleabilidad ha sido en el ramo textil, este
      me ayudó a mejorar mis aptitudes y a tener más <strong
        >experiencia laboral</strong
      >, También la oportunidad de tener a <strong>cargo</strong> a grupos de trabajo,
      permitiendome desarrollar la <strong>comunicación asertiva</strong> al
      <strong>trabajar en equipo</strong> y lograr los <strong
        >resultados</strong
      > esperados.
    </p>
  </div>
  <img
    src="/projects/mike.png"
    alt="Raúl"
    class="rounded-full size-60 order-1 max-md:order-2"
  />
</section>
