<section class="flex gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 text-pretty [&>p>strong]:text-[#00abe3] :font-semibold"
  >
    <p>
      Hola mi nombre es Miguel Raúl, mayormente la gente me llama Miguel pero
      solo algunas personas me llaman Raúl. Debo admitir que la primera vez que
      toque una computadora pensé que está iba a explotar. Comencé como la
      mayoría, con un poco de miedo ya que era un mundo nuevo para mi y también
      porque tener una computadora era casi un lujo.
    </p>

    <p>
      La primera vez que programé fue estando en la universidad, fue algo
      sorprendente porque aprendí el como se hacen las cosas en el mundo IT.
    </p>
    <p>
      Además de que tomé un curso de <strong>ALURA-LATAM</strong> como <strong
        >Desarrollador Fronted</strong
      >
      donde reforcé mis conocomientos previos y no solo eso, también aprendí a organizar
      mis tiempos en cuanto a las entregas, a ayudar a compañeros de otras partes
      del mundo a traves de diversas plataformas o canales de comunicación. Actulmente
      sigo practicando, sigo aprendiendo y mejorando en el desarrollo web.
    </p>

    <p>
      Aunque la mayor parte de mi empleabilidad ha sido en el ramo textil, lo
      cuál me ha ayudado tener <strong>experiencia laboral</strong> teniendo a mi
      cargo un grupo de trabajo, a <strong>comunicarme</strong> de manera entendible,
      <strong>trabajar en equipo</strong> y lograr los <strong
        >resultados</strong
      > esperados.
    </p>
  </div>
  <img src="/projects/mike.png" alt="Raúl" class="rounded-full size-60" />
</section>
