---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Metalero - Moon-Mar",
    description:
      "Soy coordinador del área de metales y me encargo de que los cortes lleven desde botones, remaches, broches y en general cualquier tipo de metal que la prenda lleve en sus especificaciones. Reviso que las máquinas tengan la presión adecuada, al igual que la colocación debe estar lo más precisa posible. Además de revisar a los compañeros metaleros que llegan a apoyar, realicen su trabajo de la mejor manera posible y así lograr el objetivo de terminar los cortes en tiempo y forma.",
  },
  {
    date: "Diciembre 2022",
    title: "Encargado de metales - Empaque Meza",
    description:
      "En el área de empaque, mi función principal consistía en pegar botones y remaches a los diversos cortes de prenda que nos proporcionaban. Además, tenía la responsabilidad de supervisar a un equipo de trabajadores, asignar tareas y asegurarme de que el trabajo se distribuyera de manera eficiente, me encargaba de recoger los cortes de las planchas, cargar y descargar las prendas, y cuando cada corte estaba terminado, coordinaba con mis compañeros para empacarlos en bultos y llevarlos al almacén. También llevaba un registro detallado de la cantidad de remaches y botones que cada miembro del equipo colocaba en las prendas. En resumen, mi labor abarcaba tanto la parte práctica como la gestión de recursos y producción en el proceso de empaque.",
  },
  {
    date: "Abril 202",
    title: "Metalero - Empaque Genesís",
    description:
      "En Genesis, empacábamos una variedad de prendas, desde camisetas y blusas hasta pantalones y faldas. Nuestro equipo se encargaba de asegurar que cada prenda estuviera lista para su distribución, con los botones y remaches correctamente colocados. Además, coordinábamos la logística de carga y descarga de las prendas, así como su empaquetado en bultos para su almacenamiento. Era un proceso dinámico y esencial para garantizar que las prendas llegaran a los clientes en perfecto estado.",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
